@import "tailwindcss";
/* Universal Reset for Body */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100vh;
}

body {
  position: relative;
  background-color: #ffffff;
  background-image: radial-gradient(100% 50% at 50% 0%, rgba(0, 163, 255, 0.13) 0%, rgba(0, 163, 255, 0) 50%, rgba(0, 163, 255, 0) 100%);
  min-height: 100vh;
}

/* Dark Mode Support */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
  }
}